@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); } }

*, html, body { -webkit-font-smoothing: antialiased; box-sizing:content-box;}
*, body, button, input, textarea, select {
  text-rendering: optimizeLegibility;
  font-size:100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}

abbr,acronym { border:0;}


/*a { color: #39464e; text-decoration: none; }*/
a:hover { text-decoration: underline; }

input, textarea, select { font-family: "Open Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif; }



html { height: 100%; }

body {
font-family: "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
 background: #f6f6f6  50% 50% no-repeat; padding: 0; margin: 0; position: relative; font-size: 14px;line-height:1; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { body { background: #f6f6f6  50% 50% no-repeat; background-size: 186px 157px; } }
.clear {clear: both;}
body .CodeMirror * { -webkit-font-smoothing: subpixel-antialiased; }
 
#show-result #sidebar, #show-result #content { -moz-transition: opacity 0.4s; /* FF3.6+ */ -webkit-transition: opacity 0.4s; /* Chrome, Safari */ -o-transition: opacity 0.4s; /* Opera */ -ms-transition: opacity 0.4s; /* IE 9 */ transition: opacity 0.4s; opacity: 0; }


.CodeMirror {
    height: 100% !important;
}
label {font-weight:normal;margin:0;}
/* content ================================================================ */
#content { margin: 14px 15px 0 14px; position: relative; background: #F6F6F6;margin-left:212px; }

/* editor ================================================================ */
#content fieldset.column { display: block; height: 100%; width: 50%; }

#content .window { width: 100%; border: 1px solid #C0C0C0; box-shadow: inset 0 1px 2px #e4e4e4; }

#content .full {height:100%;position: absolute;top:-6px;bottom: -6px}
#content .top { height: 75%; position: absolute; top: -6px; }

#result {background: #fff;}
#content .bottom { height: 25%; position: absolute; bottom: -6px; }

#content .right { position: absolute; right: -5px; }

#content .left { position: absolute; left: -5px; }

#handler_vertical { width: 8px; height: 100%; padding: 5px 0; cursor: col-resize; position: absolute; top: -5px; left: 0; background: url("../images/handle-v.png") 3px 50% no-repeat; }

.handler_horizontal { width: 100%; height: 8px; padding: 0 1px; cursor: row-resize; position: absolute; top: 0; left: 0; background: url("../images/handle-h.png") 50% 3px no-repeat; }


#content textarea, #result iframe, body.editbox { min-width: 100px; width: 100%; height: 100%; line-height: 15px; font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace; font-size: 12px; }

/* Modal*/
.modal-backdrop {background-color:#fff;}
.modal-content {box-shadow:0 2px 30px rgba(0, 0, 0, 0.4);border:1px solid #aaa;}
.modal-content input {width: 270px;padding: 8px 10px;border-radius: 3px;border: 1px solid #aaa;background: #eee;}
/* editors */
#content textarea, #content iframe { background: #fff; margin:0!important;box-shadow: inset 0 1px 3px #E4E4E4; border: 0 !important; }

/* resizing sets display to inline, this overrides */
#content textarea { display: block; }

.heyoffline_overlay { z-index: 100; }
.shim { display: none; width: 100%; height: 100%; z-index: 1; position: absolute; top: 0; left: 0; }
/* editor labels */
.window_label { border: solid 1px #F1F1F1; background: #fff; display: inline-block; height: 22px; padding: 0 6px; line-height: 22px; position: absolute; top: 7px; right: 6px; text-align: center; font-size: 12px; color: #777; border-radius: 1px; z-index: 30; }

/* fullscreen */
.fullscreen { background: transparent url("../images/sprites.png") no-repeat -301px -320px; display: block; width: 31px; height: 31px; text-indent: -9999px; z-index: 100; position: absolute; bottom: 6px; right: 14px; cursor: pointer; }

#header {height:44px;background:#0063CF;z-index:9999;}
.logo {width: 160px;;height: 44px;line-height:44px;background:url('../images/logo.png') #0063CF;float: left;color:#fff;border-right: 1px solid #4072B4;padding:0 20px;}

.opeartion {list-style: none;margin:0;}
.opeartion .nav {float:left;height: 44px;line-height:44px;color:#fff;cursor:pointer;position: relative;}
.opeartion .nav:hover {background: #2F5991;}
.opeartion .nav .nav_a {padding:14px 20px;color:#fff;text-decoration: none;}

.login {float:right;margin-right:10px;}
.login li {float: left;height: 44px;line-height: 44px;padding:0 20px;color:#fff;cursor: pointer;}
.login li:hover {background: #2F5991;}
.login .nav_a {color:#fff;padding:14px 0;text-decoration: none;}
.alert {position:absolute;top:40%;background:#fff;width:200px;left:20%;border: 1px solid #aaa;color:#000;line-height: 1.5;font-weight: normal;cursor: default;display: none;box-shadow:0 2px 30px rgba(0, 0, 0, 0.4);font-size:13px;}
.tip {position: absolute;z-index: 1000;background: #fff;left:0;border: 1px solid #aaa;border-top: none;color:#000;line-height: 1.5;font-weight: normal;cursor: default;display: none;box-shadow:0 2px 30px rgba(0, 0, 0, 0.4);font-size:13px;}
.tip h4 {font-weight: bold;padding:10px;}
.tip h5{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px;}
.tip ul {list-style: none;}
.tip ul li {height:auto;width:100%;padding:0;}
.tip ul li:hover{background: #eee;}
.tip ul li a {padding:5px 20px;}
.tip li span {float:right;}
.tip .h5 li {padding:10px;border-top: 1px solid #ccc;}
.tip_close {cursor: pointer;font-size:16px;height:16px;width:16px;text-align:center;position:absolute;right:6px;top:6px;color:#000;line-height: 1;border-radius: 50%;}
.tip_close:hover {color:#fff;background: #ff0000;}
.share_tip {padding:10px;}
.tip p {margin-bottom: 10px;}
.tip label {display: block;}
.tip input {width:280px;padding:8px 10px;border-radius: 3px;border: 1px solid #aaa;background: #eee;}
.tip select {width:160px;float:right;padding:4px 10px;border-radius: 3px;border: 1px solid #aaa;background: #eee;margin-top:-5px;}
.tip input[type="checkbox"],.tip input[type="radio"] {width:auto;position: relative;top:2px;margin-right: 4px;}
.loged_tip {padding:0!important;width:200px;}
.loged_tip p {padding:8px 10px;margin:0;}
.login .avatar {width:20px;height:20px;}
.login .tip {left:auto;right:10px;padding:10px;}
.login .tip input {width:200px;}
.login .title {margin-bottom:10px;}
.modal-dialog {margin:200px auto;}
.modal-content {border-radius:0;}
#url {width:96%;height:auto;}
#setUrl .url_text {margin-top:20px;}
#setUrl .url {color:#0063CF;padding:0 2px;font-weight:bold;}
#setUrl  .setUrl-info {float:left;line-height:30px;color:#ff0000;}

.login input[type='checkbox'] {width:auto;}
.login .loginMsg {color:#ff0000;}
.silder {font-size:13px;margin-top:48px;overflow:hidden;}
.silder .cate {border-bottom:1px solid #ccc}
.silder h3 {padding:8px 10px;cursor:pointer;position: relative;line-height:1.2;}
.silder .warning {float:right;width:3px;height:3px;border-radius:50%;background:#ff0000;margin-top:6px;}
.silder .warning:hover{background:#000}
.silder .cont {font-size:12px;line-height:16px;padding:8px 14px;display:none;}
.silder .toggle h3{font-weight:bold;}
.silder .cont input[type="text"],.silder .cont textarea {width: 160px;padding: 7px 5px;color: #626262;background: #F6F6F6;border: solid 1px #aaa;border-radius:2px;outline: none;}
.silder .cont textarea {height:40px;resize:vertical;}
.silder .cont select {width:170px;}
.silder label {display:inline;}
.silder .cont p {margin-bottom:8px;}
.silder .cont input[type="checkbox"],.silder .cont input[type="radio"] {position:relative;top:3px;margin:0;}
.silder .cont .checkbox_right {margin-left:20px;}
.silder .show_more {width:178px;height:80px;position:absolute;bottom:7px;margin:0 10px;}

#loading {position:absolute;height:100%;width:100%;background:#fff;padding-top:15%;z-index:1000;text-align:center;}
#loading p {font-weight:bold;}
/***Result**/
#hresult {background:#fff;position: relative;height: 100%;border: 1px solid #ccc;}
.result_title {height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;background: #fff;box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);position: fixed;top: 1px;left: 1px;right: 1px;z-index: 999;}
.result_title a {color:#999;text-decoration: none;}
.result_title a:hover {border-bottom: 1px solid #aaa}

.result_tables {list-style: none;margin-left:20px;float: left;}
.result_tables li {float:left;margin-right: 14px;cursor: pointer;} 
.result_tables li.cur {font-weight: bold;}
.result_title h3 {margin:0 auto;font-weight: bold;}
.result_edit {float: right;margin-right: 20px;}
.result_content{position: relative;overflow: auto;background: #F9F9F9}
.result_content .con {display: none;}
.result_content .CodeMirror {height:auto;padding:60px 20px 20px 10px; background: none;}
.result_content .result {padding-top: 40px;}
