<!DOCTYPE HTML>
<html>
<head>
<title>报表</title>
<script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script></script>
    <style type="text/css">
        body {
            text-align: center;
            }
    </style>
</head>
<body style="height: 100%;width: 100%;margin: 0;padding: 0;">
<button type="button" id="start">开始</button>
<button type="button" id="stop">停止</button>
<canvas id="LineChart" style=" height: 100%;width: 100%;margin: 0;padding: 0;display: block;"></canvas>
<script>
    function newdate() {
        var date   = new Date();
        var year   = date.getFullYear();
        var month  = date.getMonth() + 1;
        var day    = date.getDate();
        var hour   = date.getHours();
        var minute = date.getMinutes();
        var second = date.getSeconds();
        {#    return year + '年' + month + '月' + day + '日 ' + hour + ':' + minute + ':' + second;#}
        return hour + ':' + minute + ':' + second;
    }
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        var dData = function() {
            return Math.round(Math.random() * 90);
    };
    var d = 0;
        var data = {
            labels  : ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", newdate()],
            datasets: [
                {
                    fillColor       : "rgba(220,220,220,0.5)",// 背景色
                    strokeColor     : "rgba(220,220,220,1)",// 线
                    pointColor      : "rgba(220,220,220,1)",// 点
                    pointStrokeColor: "#fff",//点的外圈
                    data            : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, d]
                }
            ]
        };

    var index = 20;//初始n个数据
        var ctx = document.getElementById("LineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(data, {
            responsive    : true,//响应式
            animationSteps: 3//动画时长
        });
        //设置一个定时器
        setInterval(function () {
            myNewChart.removeData();
            myNewChart.addData([d], newdate());
            $.get("/data/?p1=start", function (result) {
                console.log(result);
                {#                data.datasets[0].data[9] = data;#}
                d = result;
                index++;
            });
        }, 1000);//每秒更新一次数据
</script>
</body>
</html>
