<!DOCTYPE HTML>
<html>
<head>
<title>报表</title>
<script src="/static/js/Chart.min.js"></script>
    <style type="text/css">
        body {
            text-align: center;
            }
    </style>
</head>
<body style="height: 100%;width: 100%;margin: 0;padding: 0;">
<canvas id="LineChart" style=" height: 100%;width: 100%;margin: 0;padding: 0;display: block;"></canvas>
	<script>
        var dData = function() {
            return Math.round(Math.random() * 90) + 1000;
    };
        var num = 0;
    var data = {
        labels: ['dD 1', 'dD 2', 'dD 3', 'dD 4', 'dD 5', 'dD 6', 'dD 7', 'dD 8'],
     datasets : [{
					fillColor : "rgba(220,220,220,0.5)",// 背景色
					strokeColor : "rgba(220,220,220,1)",// 线
					pointColor : "rgba(220,220,220,1)",// 点
					pointStrokeColor : "#fff",//点的外圈
      data: [dData(), dData(), dData(), dData(),
          dData(), dData(), dData(), dData()]
     }]
    };

        var index = 0;
        var ctx = document.getElementById("LineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(data, {
            responsive: true
        });
        setInterval(function () {
            myNewChart.removeData();
            myNewChart.addData([dData()], 'dD ' + index);
            index++;
        }, 2000);
    </script>
</body>
</html>
