<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>性能数据</title>
    <LINK href="http://static.hcharts.cn/code/favicon.ico" type="image/x-icon" rel=icon>
    <LINK href="http://static.hcharts.cn/code/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/codemirror.css" />
    <script src="/static/js/jquery-1.8.3.min.js"></script>
</head>
<body>
{% load myfilter %}
	<div id="hresult">
		<div class="result_title">
            <ul class="result_tables">
           	
           	 <li class="table" data-index="result">Result</li>
                <button type="button" id='btt'>采集</button>
{#           	#}
{#           	 <li class="table" data-index="js">Javascript</li>#}
{#           	#}
{#           	 <li class="table" data-index="html">Html</li>#}
           	
            </ul>
			
{#			<div class="result_edit">#}
{#				<span><a href="http://code.hcharts.cn/xiaoheshang/hhhGv7" target="_blank">Edit in HCode </a></span>#}
{#			</div>#}
		</div>
		<div class="result_content">
			<ul>
                <li class="con result">
                   <div id="container" style="min-width:400px;height:400px"></div>
                </li>
                <li class="con js"><textarea id="javascript">


</textarea></li>
                <li class="con html"><textarea id="html"><div id="container" style="min-width:400px;height:400px"></div>

<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="/static/js/highcharts.js"></script>

</textarea></li>
				<li class="con css"><textarea id="css"></textarea></li>
            </ul>
		</div>
	</div>

    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/javascript.js"></script>
    <script type="text/javascript" src="/static/js/xml.js"></script>
    <script type="text/javascript" src="/static/js/css.js"></script>
	<script type="text/javascript">
    var chart = null;
    var js = null;
    var html = null;
    var css = null;
    autoSize();
    table("result");

    $(".result_tables").find(".table").click(function () {
        var cla = $(this).data("index");
        table(cla);
    });
    window.onresize = autoSize;


    function loadResult(chart) {
        if (chart == null) {

            $(function () {
                $(document).ready(function () {
                    Highcharts.setOptions({
                        global: {
                            useUTC: false
                        }
                    });

                    $('#container').highcharts({
                        chart: {
                            type: 'spline',
                            animation: Highcharts.svg, // don't animate in old IE
                            marginRight: 10,
                            events: {
                                load: function () {

                                    // set up the updating of the chart each second
                                    var series = this.series[0];
                                    setInterval(function () {
                                        var x = (new Date()).getTime(), // current time
                                                y = null;
                                        series.addPoint([x, {{ dicts|key:"mem_data" }}], true, true);
                                    }, 1000);
                                }
                            }
                        },
                        title: {
                            text: '性能数据'
                        },
                        xAxis: {
                            type: 'datetime',
                            tickPixelInterval: 150
                        },
                        yAxis: {
                            title: {
                                text: 'Value'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.series.name + '</b><br/>' +
                                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                        Highcharts.numberFormat(this.y, 2);
                            }
                        },
                        legend: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        series: [{
                            name: "pss",
                            data: (function () {
                                // generate an array of random data
                                var data = [],
                                        time = (new Date()).getTime(),
                                        i;
                                for (i = -19; i <= 0; i += 1) {
                                    data.push({
                                        x: time + i * 1000,
                                        y: {{ dicts|key:"mem_data" }}  {# 接收来自views类的参数 #}
                                    });
                                }
                                return data;
                            }())
                        }]
                    });
                });
            });

        } else {
            chart.reflow();
        }
        return chart;
    }
    </script>

</body>
</html>
